**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
*.egg-info/
.git/
.github/
.venv/
.venv*/
venv/
.tox/
.nox/
.cache/
pytest-cache-files-*/
.env
.env.*
.pytest_cache/
.ruff_cache/
.mypy_cache/
htmlcov/
.coverage
.coverage.*
coverage.xml
dist/
build/
tests/
docs/
poc/
infra/
*.md
.DS_Store
.idea/
.vscode/
node_modules/
.terraform/
terraform.tfstate*
